<p-growl [(value)]="msgs" key="top-corner"></p-growl>
<form id="Appraisalform" [formGroup]="Appraisalform" (ngSubmit)="sendForm(Appraisalform.value)" class="row">
  <div class="container">
    <div class="row">
	
      <div class="col-md-7">
		<div class="row">
          <div class="col-md-6">
            <h5>Select Employee</h5>
            <p-dropdown [options]="users" [(ngModel)]="appraisal.user_id" formControlName="user_id"></p-dropdown>
			<br />
          </div>
		  <div class="col-md-6">
            <h5>Select Reviewer</h5>
            <p-dropdown [options]="users" [(ngModel)]="appraisal.reviewer_id" formControlName="reviewer_id"></p-dropdown>
			<br />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <h5>From Date</h5>
			<p-calendar formControlName="from_date" [(ngModel)]="appraisal.from_date" [showIcon]="true" (onSelect)="onSelectFromDate(event)" ></p-calendar>
			<br />
          </div>
		  <div class="col-md-6">
            <h5>To Date</h5>
			<p-calendar formControlName="to_date" [(ngModel)]="appraisal.to_date" [showIcon]="true" [minDate]="minDate" [disabled]="!enableToDate"></p-calendar>
			<br />
          </div>
        </div>
        <br />
		<div class="row">
          <div class="col-md-12 text-right border-top">
            <br />
            <p-button type="submit" label="Send" icon="fa fa-save" [disabled]="!Appraisalform.valid"></p-button>
          </div>
        </div>
		<br />
		<br />
	  </div>
	 <div class="col-md-5">
		 <div class="row">
			<div class="col-md-12">
				<div class="pull-right">
					<p-button label="Add More" (onClick)="showModal=true;" icon="fa fa-plus"></p-button>
				</div>
			</div>
			<div class="col-md-12">
				<h5>Key Responsibilities</h5>
				<ul *ngIf="responsibilities.length" class="uploaded_documents">
					<li *ngFor="let resp of responsibilities">
						<label>#{{resp.comment}}</label>
						<p-button icon="fa fa-pencil" (onClick)="showEditForm(index)"></p-button>
						<p-button icon="fa fa-trash" (onClick)="deleteForm(resp)"></p-button>
					</li>
				</ul>
			</div>
		  </div>
     </div>
	</div>
  </div>
</form>

<p-dialog header="Add Responsibility" [(visible)]="showModal"  modal="true"  (onHide)="onHideAddForm()">    
    <form [formGroup]="Responsibilityform" (ngSubmit)="addResponsibility(Responsibilityform.value)" class="row">
        <div class="col-md-12">
            <h5>Key Responsibility</h5>
            <input type="text" pInputText [(ngModel)]="newResponsibility.comment" formControlName="comment"/><br /><br />        
        </div>
       
        <p-footer>
            <p class="text-right" style="margin-bottom:0">
                <button pButton type="submit" label="Save" icon="fa fa-fw fa-save" [disabled]="!Responsibilityform.valid"></button>
            </p>
        </p-footer>
    </form>
</p-dialog>

<p-dialog header="Edit Responsibility" [(visible)]="showEditModal">
    <form [formGroup]="editResponsibilityform" class="row" (ngSubmit)="updateResponsibility(editResponsibilityform.value)" >    
		<div class="col-md-12">
            <h5>Key Responsibility</h5>
            <input type="hidden" pInputHidden [(ngModel)]="editResponsibility.id" formControlName="id" />
            <input type="text" pInputText [(ngModel)]="editResponsibility.comment" formControlName="comment" /><br /><br />
        </div>        
        <p-footer>
            <p class="text-right" style="margin-bottom:0">
                <button pButton type="submit" label="Update" icon="fa fa-fw fa-save" [disabled]="!editResponsibilityform.valid"></button>
            </p>
        </p-footer>
    </form>
</p-dialog>

<p-confirmDialog header="Confirmation" key="delete" icon="fa fa-question-circle" width="425"></p-confirmDialog>