 <!-- Navbar Start -->
<header class="navbar navbar-fixed">
	<!-- Navbar Header Start -->
	<div class="navbar--header">
		<!-- Logo Start -->
		<a class="logo" href="#" routerLink="/"><img src="assets/logo.jpg" /></a>
		<!-- Logo End -->

		<!-- Sidebar Toggle Button Start -->
		<a href="javascript:void(0);" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar" *ngIf="loggedInMenus">
			<i class="fa fa-bars"></i>
		</a>
		<!-- Sidebar Toggle Button End -->
	</div>
	<!-- Navbar Header End -->

	<!-- Sidebar Toggle Button Start -->
	<a href="javascript:void(0);" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar" *ngIf="loggedInMenus">
		<i class="fa fa-bars"></i>
	</a>
	<!-- Sidebar Toggle Button End -->	
	<div class="navbar--nav" *ngIf="!loggedInMenus">
		<ul class="nav">
			<li class="nav-item">
				<a routerLink="/vendor-login" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-group"></i> Vendor</a>
			</li>

			<li class="nav-item">
				<a routerLink="/login" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-user"></i> User</a>
			</li>
			<li class="nav-item">				
				<a routerLink="/admin-login" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-user"></i> Admin</a>
			</li>
		</ul>
	</div>
	
	<div class="navbar--nav ml-auto">
		<ul class="nav">
			<!-- <li class="nav-item">
				<a href="#" class="nav-link">
					<i class="fa fa-bell"></i>
					<span class="badge text-white bg-blue">7</span>
				</a>
			</li> -->
			<li class="nav-item dropdown nav--user notification" *ngIf="loggedInMenus">
				<a href="javascript:void(0);" (click)="menu.toggle($event)" class="nav-link" data-toggle="dropdown">
					<i class="fa fa-bell"></i>
					<span class="badge text-white bg-blue" *ngIf="badge>0">{{badge}}</span>
				</a>

				<ul class="dropdown-menu">
					<ng-container *ngFor="let notify of notifications">
					<li [ngClass]="{viewed: notify.is_viewed == 1}">
						<a *ngIf="notify.module=='contract'&&notify.type=='open'" [routerLink]="'/contract/preview/' + notify.ref_id" ><strong>Admin</strong> has changed contract back to open state</a>
						<a *ngIf="notify.module=='contract'&&notify.type=='sent'" [routerLink]="'/contract/review/' + notify.ref_id" ><strong>{{notify.get_sender_data.name}}</strong> has created contract with you</a>
						<a *ngIf="notify.module=='contract'&&notify.type=='review'" [routerLink]="'/contract/review/' + notify.ref_id" ><strong>{{notify.get_sender_data.name}}</strong> has sent back contract for review</a>
						<a *ngIf="notify.module=='contract'&&notify.type=='accept'" [routerLink]="'/contract/preview/' + notify.ref_id" ><strong>{{notify.get_sender_data.name}}</strong> has accepted contract</a>
						<a *ngIf="notify.module=='contract'&&notify.type=='reject'" [routerLink]="'/contract/preview/' + notify.ref_id" ><strong>{{notify.get_sender_data.name}}</strong> has rejected contract</a>
						<div class="chat--info">
							<span class="chat--time">{{notify.created_at}}</span>
						</div>
					</li>
					<li class="dropdown-divider"></li>
					</ng-container>
				</ul>
				
			</li>
			
			<!-- Nav User End -->
			<!-- Nav User Start -->
			<li class="nav-item dropdown nav--user online" *ngIf="loggedInMenus">
				<a href="javascript:return false;" (click)="menu.toggle($event)" class="nav-link" data-toggle="dropdown">
					<img src="http://bookkeeper.shredex.net/resources/assets/images/placeholder.jpg" alt="" class="rounded-circle">
					<span>{{userData.name}}</span>
					<i class="fa fa-angle-down"></i>
				</a>

				<ul class="dropdown-menu">
					<li *ngFor="let item of items; let i = index">
						<a routerLink="{{item.routerLink}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><i class="fa {{item.icon}}"></i>{{item.label}}</a>
					</li>
				</ul>
				
			</li>
			
			<!-- Nav User End -->
		</ul>
	</div>
</header>
<!-- Navbar End -->

<!-- Sidebar Start -->
<aside class="sidebar" data-trigger="scrollbar" *ngIf="loggedInMenus">
	<!-- Sidebar Navigation Start -->
	<div class="sidebar--nav">
		<ul>
			<li>
				<ul>
					<li class="active">
						<a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
							<i class="fa fa-home"></i>
							<span>Dashboard</span>
						</a>
					</li> 
					
					<li class="active">
						<a routerLink="/users" routerLinkActive="active" *ngIf="userData.role == 'admin'">
							<i class="fa fa-user"></i>
							<span>Manage Users</span>
						</a>
					</li>
					
					<li class="active">
						<a routerLink="/vendors" *ngIf="userData.role == 'admin'">
							<i class="fa fa-group"></i>
							<span>Manage Vendors</span>
						</a>
					</li>
					
					<li class="active">
						<a routerLink="/sets" *ngIf="userData.role == 'vendor'">
							<i class="fa fa-list"></i>
							<span>Manage Sets</span>
						</a>
					</li>
					<li class="active">
						<a routerLink="/parts" *ngIf="userData.role == 'vendor'">
							<i class="fa fa-list-alt"></i>
							<span>Manage Parts</span>
						</a>
					</li>
					<li class="active">
						<a routerLink="/contacts" *ngIf="userData.role == 'vendor'">
							<i class="fa fa-address-book"></i>
							<span>Manage Contacts</span>
						</a>
					</li>
					
					<li class="active">
						<a routerLink="/contracts" *ngIf="userData.role != 'admin'">
							<i class="fa fa-file"></i>
							<span>Manage Contracts</span>
						</a>
					</li>
					<li class="active">
						<a routerLink="/contract/create" *ngIf="userData.role == 'vendor'">
							<i class="fa fa-file-alt"></i>
							<span>Create Contract</span>
						</a>
					</li>
					
					<li class="active" *ngIf="userData.role == 'admin'">
                        <a href="#"><i class="fa fa-newspaper"></i> Contract Components</a>

                        <ul>
							<li class="active">
								<a routerLink="/global-parts" routerLinkActive="active">
									<span>Manage Global Parts</span>
								</a>						
							</li>
                            <li class="active">
								<a routerLink="/categories" routerLinkActive="active">
									<span>Manage Categories</span>
								</a>								
							</li>
							<li class="active">
								<a routerLink="/industries" routerLinkActive="active">
									<span>Manage Industries</span>
								</a>						
							</li>	
							<li class="active">
								<a routerLink="/contract/types" routerLinkActive="active">
									<span>Manage Types</span>
								</a>						
							</li>							
                        </ul>
                    
					</li>
					<li class="active" *ngIf="userData.role == 'admin'">
						<a routerLink="/contract-list">
							<i class="fa fa-file"></i>
							<span>Manage Contracts</span>
						</a>
					</li>					
				</ul>
			</li>

		</ul>
	</div>
	<!-- Sidebar Navigation End -->

</aside>
<!-- Sidebar End -->