<p-growl key="top-corner"></p-growl>
<div class="container">
  <div class="row">	
	<div class="col-lg-6" *ngIf='selectedUserName != ""'>
		<!-- Page Title Start -->
		<h2 class="page--title h5"><i class="fa fa-address-book"></i> {{selectedUserName}}'s contacts</h2>
		<!-- Page Title End -->
	</div>
	<div class="col-lg-6" *ngIf='selectedUserName == ""'>
		<!-- Page Title Start -->
		<h2 class="page--title h5"><i class="fa fa-address-book"></i> contacts</h2>
		<!-- Page Title End -->
	</div>
	<div class="col-lg-6 text-right" *ngIf='selectedUser > 0'>
		<h2 class="page--title h5 text-right" >ID: {{ selectedUser }}</h2>
	</div> 
	<div class="col-lg-6 text-right" *ngIf='selectedUser == 0'>
		<a [routerLink]="'/contact/create'" style="color:white;" class="btn btn-rounded btn-warning"><i class="fa fa-user"></i> Create Contact</a>
	</div> 
	<div class="col-lg-12 d-flex justify-content-center" *ngIf="loadSpinner"> 
		<p-progressSpinner ></p-progressSpinner>		
	</div>
	<div class="table-responsive">	
    <p-table #contactListing [columns]="cols" [value]="contacts" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" paginatorPosition="both" *ngIf="contacts?.length > 0">
		<ng-template pTemplate="header" let-columns>
			
			<tr class="custom-white">
				<th colspan="4">				
					<input type="text" class="global-search" pInputText placeholder="Search" (input)="contactListing.filterGlobal($event.target.value, 'contains')" style="width:50%; margin-right:2%; ">
					
					<p-dropdown [style]="{'width':'20%','margin-right':'2%'}" [options]="statuses" (onChange)="contactListing.filter($event.value, 'status', 'equals')"></p-dropdown>
				</th>
				
				<th class="recordsPerPageTitle">
					Records to Display:	
				</th>
			</tr>
			
			<tr>       
				<ng-container *ngFor="let col of columns">
					<th width="200" [pSortableColumn]="col.field" *ngIf="col.header != ''" >
						{{col.header}}
						<p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
					</th>
				</ng-container>
				<th width="200">Actions</th>
			</tr>
        </ng-template>
		
		
      <ng-template pTemplate="body" let-contact>
        <tr>
          <td>{{ contact.company }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>
			<span *ngIf="contact.status == 0">
				Disabled
			</span> 
			<span *ngIf="contact.status == 1">
				Enabled
			</span>
		  </td>
          <td>

			<span *ngIf="contact.status == 0">
              <a title="Enable" class='btn bg-success listing-actions' (click)="enableContact(contact.id)"><i class="fa fa-check"></i></a>
            </span> 
			<span *ngIf="contact.status == 1">
              <a title="Disable" class='btn bg-danger listing-actions' (click)="disableContact(contact.id)" ><i class="fa fa-close"></i></a>
            </span> 			
			<a title="Edit" class='btn bg-primary listing-actions' [routerLink]="'/contact/'+contact.vendor_id+'/edit/' + contact.id" ><i class="fa fa-pencil-square-o"></i></a>
			<a title="View" class='btn bg-primary listing-actions'  *ngIf="contact.user_id" (click)="viewContact(contact.id)" ><i class="fa fa-search"></i></a>
			<a title="Delete" class='btn bg-danger listing-actions' (click)="deleteContact(contact.id)" ><i class="fa fa-trash"></i></a>
			
          </td>
        </tr>
      </ng-template>
    </p-table>
	</div>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-dialog header="Contact Detail" [(visible)]="contactViewVisible" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
 	<div class="panel" style="width:400px;">					
		<div class="row">
		  <div class="col-md-4">
			<h5>Name</h5>
		  </div>
		  <div class="col-md-8">
			<label>{{ selectedContact?.get_user_data?.name }}</label>
		  </div>
		</div>	
		<div class="row">
		  <div class="col-md-4">
			<h5>Email</h5>
		  </div>
		  <div class="col-md-8">
			<label>{{ selectedContact?.email }}</label>
		  </div>
		</div>		
		<div class="row">
		  <div class="col-md-4">
			<h5>Phone</h5>
		  </div>
		  <div class="col-md-8">
			<label>{{ selectedContact?.get_user_data?.phone }}</label>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4">
			<h5>Address</h5>
		  </div>
		  <div class="col-md-8">
			<label>{{ selectedContact?.get_user_data?.address }}, {{selectedContact?.get_user_data?.city}} ,{{selectedContact?.get_user_data?.zip}}</label>
		  </div>
		</div>
	</div>
</p-dialog>


<p-dialog header="New Contact" [(visible)]="addContactVisible" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
	<form (submit)="saveContact()">
 	<div class="panel" style="width:400px;">	
	    <p-messages [(value)]="msgs"></p-messages>
		<div class="row">
		  <div class="col-md-4">
			<h5>Email</h5>
		  </div>
		  <div class="col-md-8">
			<input id="newContactEmail" name="newContactEmail" type="email" [(ngModel)]="newContactEmail" />
		  </div>
		</div>	
		<div class="row">
		  <div class="col-md-4 text-right">
		  </div>
		  <div class="col-md-8">
			<p-button type="submit" label="Save"></p-button>
		  </div>
		</div>
	</div>
	</form>
</p-dialog>