<p-growl [(value)]="msgs" key="top-corner"></p-growl>
<div class="row">	
	<div class="col-lg-12 d-flex justify-content-center" *ngIf="loadSpinner">
		<p-progressSpinner ></p-progressSpinner>		
	</div>
</div>
<div class="panel" *ngIf="!loadSpinner&&linkExpired">
	<h2 class="text-center"> Access Denied : Contract Link Expired</h2>
</div>
<div class="panel" *ngIf="!loadSpinner&&!linkExpired">
	<div class="records--body">
		<div class="title">
			<div class="col-lg-6"> 
				<!-- Page Title Start -->
				<h2 class="page--title h5"><i class="fa fa-file"></i> Contract</h2>
				<!-- Page Title End -->
			</div>
			<div class="col-lg-6 text-right">
			</div>  
		</div>
		<p-tabView>
			<p-tabPanel header="Contract" [selected]="true">	
			<div class="tab-pane fade show active" id="tab01">
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Category: </span>

						<div class="col-md-9">
						{{contract.get_category_data.name}}
						</div>
					</div>
					
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Contract Name: </span>

						<div class="col-md-9">
						{{contract.name}}
						</div>
					</div>
					
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Contract Description: </span>

						<div class="col-md-9">
						{{contract.description}}
						</div>
					</div>					
					
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Owner: </span>

						<div class="col-md-9">
						<a [routerLink]="'/vendor/view/' + contract.get_sender_data.id" >{{contract.get_sender_data.username}}</a> ( {{contract.get_sender_data.email}} )
						</div>
					</div>
					
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Owner Address: </span>

						<div class="col-md-9">{{contract.get_sender_data.shop_name}} ,{{contract.get_sender_data.address}}
						</div>
					</div>
					
					<div class="form-group row" *ngIf="contract.status>0">
						<span class="label-text col-md-3 col-form-label">Recipient: </span>

						<div class="col-md-9">
						<a *ngIf="contract.get_receiver_data.role=='vendor'" [routerLink]="'/vendor/view/' + contract.get_sender_data.id" >{{contract.get_receiver_data.username}}</a>
						<a *ngIf="contract.get_receiver_data.role=='user'" [routerLink]="'/users/view/' + contract.get_sender_data.id" >{{contract.get_receiver_data.username}}</a> ( {{contract.get_receiver_data.email}} )
						</div>
					</div>
					
					<div class="form-group row" *ngIf="contract.status>0">
						<span class="label-text col-md-3 col-form-label">Recipient: </span>

						<div class="col-md-9">
						{{contract.get_receiver_data.address}}
						</div>
					</div>
					
					<div class="form-group row" >
						<span class="label-text col-md-3 col-form-label">Status: </span>

						<div class="col-md-9">
							<span *ngIf="contract.status == 0">
							  Draft
							</span> 
							<span *ngIf="contract.status == 1">
							  Under Review by <strong *ngIf="contract.sender_flag == 2">{{contract.get_sender_data.username}}</strong>
							 <strong *ngIf="contract.receiver_flag == 2&&contract.get_receiver_data != null">{{contract.get_receiver_data.username}}</strong> 
							 <strong *ngIf="contract.receiver_flag == 2&&contract.get_receiver_data == null">{{contract.email}}</strong> 
							</span>
							<span *ngIf="contract.status == 2">
							  Finalized
							</span>
							
							<span *ngIf="contract.status == 3">
							  Rejected ( by <strong *ngIf="contract.sender_flag == 2">{{contract.get_sender_data.username}}</strong><strong *ngIf="contract.receiver_flag == 2">{{contract.get_receiver_data.username}}</strong> )
							</span>
						</div>
					</div>
					
					<div class="form-group row">
						<span class="label-text col-md-12 col-form-label">Terms and Conditions *</span>
					</div>
					
					
					<div class="form-group row">
						<div class="col-md-12 terms-constructor-box">		

						<p-fieldset *ngFor="let part of user_contract_parts; let i = index">
							<p-header>
								<div class="row">
									<div class="col-md-12">
										<strong>{{i + 1}}. </strong> {{part.title}} 
									</div>
								</div>
							</p-header>
							<div class="row">
								<div class="col-md-12">	
									{{part.body}} 	
								</div>							
							</div>							
						</p-fieldset>
						
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-9 offset-md-3" *ngIf="this.loggedInUser == null">
							<a [routerLink]="'/login'" *ngIf="contract.receiver_role == 'user'&&contract.get_receiver_data.password != ''" class="btn btn-rounded btn-warning">LOG IN TO EDIT AND APPROVE THIS CONTRACT</a>
							<a href="javascript:void(0)" [routerLink]="'/users/edit/'+contract.receiver_id+'/'+contract.id" *ngIf="contract.receiver_role == 'user'&&contract.get_receiver_data.password == ''" class="btn btn-rounded btn-warning">LOG IN TO EDIT AND APPROVE THIS CONTRACT</a>
							<a [routerLink]="'/vendor-login'" *ngIf="contract.receiver_role == 'vendor'" class="btn btn-rounded btn-warning">LOG IN TO EDIT AND APPROVE THIS CONTRACT</a>
						</div>
						<div class="col-md-9 offset-md-3" *ngIf="this.loggedInUser != null">
							<a [routerLink]="'/contract/review/'+contract.id" class="btn btn-rounded btn-warning">APPROVE THIS CONTRACT</a>							
						</div>
					</div>
			</div>	
			</p-tabPanel>
		</p-tabView>
	</div>
</div>

<p-dialog header="Contract PIN" [(visible)]="contractPinModel" [modal]="false" [closable]="false" [responsive]="true" [style]="{width: '400px', minWidth: '200px'}" [minY]="30" [baseZIndex]="10000">	
	<div class="form-group row">
		<div class="col-md-8">
			<input type="text" [(ngModel)]="contractPin" [ngModelOptions]="{standalone: true}"  class="form-control" name="contractPin">
			<label class="text-danger">{{contractPinError}}</label>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary" (click)="validatePIN()">Submit</button>
		</div>
	</div>
</p-dialog>

<p-dialog header="Setup your password" [(visible)]="passwordModel" [modal]="false" [closable]="false" [responsive]="true" [style]="{width: '400px', minWidth: '200px'}" [minY]="30" [baseZIndex]="10000">	
	<div class="form-group row">
		<div class="col-md-8">
			<input type="text" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  class="form-control" name="password">
			<label class="text-success">{{passwordSuccess}}</label>
			<label class="text-danger">{{passwordError}}</label>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary" (click)="setPassword()">Submit</button>
		</div>
	</div>
</p-dialog>