<form (submit)="doAuth()" id="Loginform" [formGroup]="Loginform">
	<div class="ui-g">
	<p-panel header="Admin Login" class="ui-g-12 ui-g-offset-0 ui-xl-2 ui-xl-offset-5 ui-md-6 ui-md-offset-3 loginPanel">
	  <div class="ui-g ui-fluid">
		<p-messages id="loginMessage" [(value)]="msgs" [closable]="false"></p-messages>
		<div class="ui-inputgroup ui-g-12">
		  <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
		  <input name="username" [(ngModel)]="username" formControlName="username" type="text" pInputText placeholder="Email">
		</div>
	  </div>
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
		  <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
		  <input name="password" [(ngModel)]="password" formControlName="password" type="password" pInputText placeholder="Password">
		</div>
	  </div>

	  <p-footer>
		<div class="text-right"> <a style="color:#1F89CE;" href="#" routerLink="/forgot-password">Forgot Password</a> <p-button type="submit" label="Login" [disabled]="processing||!Loginform.valid"></p-button></div>
		
		<ng-container *ngIf="processing">
			<h3>Processing...</h3>
			<p-progressBar mode="indeterminate" [style]="{'height': '10px'}"></p-progressBar>
		</ng-container>
	  </p-footer>
	</p-panel>
	</div>
</form>