<p-growl [(value)]="msgs" key="top-corner"></p-growl>
<div class="container">
  <div class="row">
    <h1 style="width:100%">Appraisals</h1>
	
	<p-button *ngIf="sendAppraisalLink" style="width:100%; text-align:right" label="Send Appraisal" styleClass="ui-button-secondary" [routerLink]="'/appraisal/send'"></p-button>
    <p-table #appraisalListing [columns]="cols" [value]="appraisals" [paginator]="true" [rows]="10">
		<ng-template pTemplate="caption">
			<div style="text-align: right">        
				<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
				<input type="text" pInputText size="50" placeholder="Search" (input)="appraisalListing.filterGlobal($event.target.value, 'contains')" style="width:auto">                
			</div>
		</ng-template>
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th width="100">Employee</th>
				<th width="150">Period</th>
				<th width="100">Reviewer</th>
				<th width="100">Sent On</th>
				<th width="100">Status</th>
				<th width="200">Actions</th>
			</tr>
        </ng-template>
      <ng-template pTemplate="body" let-appraisal>
        <tr>
          <td><a [routerLink]="'/users/view/' + appraisal.get_user_data.id" >{{ appraisal.get_user_data.first_name }} {{ appraisal.get_user_data.last_name }}</a></td>
          <td>{{ appraisal.from_date | date:'MMMM yyyy' }} - {{ appraisal.to_date | date:'MMMM yyyy' }}</td>
          <td><a [routerLink]="'/users/view/' + appraisal.get_reviewer_data.id" >{{ appraisal.get_reviewer_data.first_name }} {{ appraisal.get_reviewer_data.last_name }}</a></td>
          <td>{{ appraisal.created_at | date:'yyyy-MM-dd' }}</td>
          <td *ngIf="appraisal.status == 'Completed'&&appraisal.stage==3">Reviewed (By Reviewer)</td>
          <td *ngIf="appraisal.status == 'Completed'&&appraisal.stage==4">Reviewed (By HOD)</td>
          <td *ngIf="appraisal.status == 'Completed'&&appraisal.stage==5">{{ appraisal.status }}</td>
          <td *ngIf="appraisal.stage == 1">{{ appraisal.status }}</td>
          <td *ngIf="appraisal.stage == 2">{{ appraisal.status }}</td>
          <td align="right">		
						<p-button *ngIf="appraisal.status == 'Pending'&&sendAppraisalLink" label="Edit" [routerLink]="'/appraisal/update/' + appraisal.id"></p-button>
						<p-button label="View" [routerLink]="'/appraisal/form/' + appraisal.id"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>