<form id="resetPasswordForm" [formGroup]="resetPasswordForm"  (submit)="resetPassword()">
  <div class="ui-g">
	<p-panel header="Reset Password" class="ui-g-12 ui-g-offset-0 ui-xl-6 ui-xl-offset-3 ui-md-6 ui-md-offset-3 loginPanel">
	  <div class="ui-g ui-fluid">
		<p-messages id="loginMessage" [(value)]="msgs" [closable]="false"></p-messages>
		<div class="ui-inputgroup ui-g-12" *ngIf="show">
		  <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
		  <input name="password" [(ngModel)]="password" formControlName="password" pInputText placeholder="Enter New Password">
		</div>
	  </div>
	  <p-footer *ngIf="show">
		<div class="text-right" *ngIf="submitBtnEnable"> 
			<p-button type="submit" label="Save" [disabled]="!resetPasswordForm.valid"></p-button>
		</div>
	  </p-footer>
	</p-panel>
  </div>
</form>
