<p-growl [(value)]="msgs" key="top-corner"></p-growl>
<div class="container">
  <div class="row">	
	<div class="col-lg-6"> 
		<!-- Page Title Start -->
		<h2 class="page--title h5"><i class="fa fa-user"></i> Industries</h2>
		<!-- Page Title End -->
	</div>
	<div class="col-lg-6 text-right">
		<a [routerLink]="'/industry/create'" class="btn btn-rounded btn-warning">Create industry</a>
	</div>    
	<div class="col-lg-12 d-flex justify-content-center" *ngIf="loadSpinner"> 
		<p-progressSpinner ></p-progressSpinner>		
	</div>
	<div class="table-responsive">	
    <p-table #industryListing [columns]="cols" [value]="industries" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" paginatorPosition="both" *ngIf="industries?.length > 0">
		<!-- <ng-template pTemplate="caption">
			<div class="custom-white" style="text-align: right">        
				<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
				<input type="text" pInputText size="50" placeholder="Search" (input)="industryListing.filterGlobal($event.target.value, 'contains')" style="width:auto">                
			</div>
		</ng-template> -->
		
		<ng-template pTemplate="header" let-columns>
			
			<tr class="custom-white">
				<!-- <th *ngFor="let col of columns" [ngSwitch]="col.field">
				
					<input *ngSwitchCase="'name'" pInputText type="text" (input)="industryListing.filter($event.target.value, col.field, col.filterMatchMode)" placeholder="Name">
					<p-dropdown *ngSwitchCase="'status'" [style]="{'width':'100%'}" [options]="statuses" (onChange)="industryListing.filter($event.value, col.field, 'equals')"></p-dropdown>
				</th> -->
				
				<th colspan="2">				
					<input type="text" class="global-search" pInputText placeholder="Search" (input)="industryListing.filterGlobal($event.target.value, 'contains')" style="width:50%; margin-right:2%; ">
					
					<p-dropdown [style]="{'width':'20%','margin-right':'2%'}" [options]="statuses" (onChange)="industryListing.filter($event.value, 'status', 'equals')"></p-dropdown>
				</th>
				
				<th class="recordsPerPageTitle">
					Records to Display:
				</th>
			</tr>
			
			<tr>       
				<ng-container *ngFor="let col of columns">
					<th width="200" [pSortableColumn]="col.field" *ngIf="col.header != ''" >
						{{col.header}}
						<p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
					</th>
				</ng-container>
				<th width="200">Actions</th>
			</tr>
        </ng-template>
		
		
      <ng-template pTemplate="body" let-industry>
        <tr *ngIf="industry.id>1">
          <td>{{ industry.name }}</td>
          <td>
			<span *ngIf="industry.status == 0">
              Disabled
            </span> 
			<span *ngIf="industry.status == 1">
              Enabled
            </span>
		  </td>
          <td>	
			<!-- <span *ngIf="industry.status == 0">
              <p-button label="Enable" icon="fa fa-check" styleClass="ui-button-success" (onClick)="enableIndustry(industry.id)"></p-button>
            </span> 
			<span *ngIf="industry.status == 1">
              <p-button label="Disable" icon="fa fa-close" styleClass="ui-button-danger" (onClick)="disableIndustry(industry.id)"></p-button>
            </span>
            <p-button label="Edit" icon="fa fa-pencil-square-o" [routerLink]="'/industry/edit/' + industry.id"></p-button>
			<p-button label="Delete" icon="fa fa-trash" styleClass="ui-button-danger" (onClick)="deleteIndustry(industry.id)"></p-button> -->
			
			<span *ngIf="industry.status == 0">
              <a title="Enable" class='btn bg-success listing-actions' (click)="enableIndustry(industry.id)"><i class="fa fa-check"></i></a>
            </span> 
			<span *ngIf="industry.status == 1">
              <a title="Disable" class='btn bg-danger listing-actions' (click)="disableIndustry(industry.id)" ><i class="fa fa-close"></i></a>
            </span> 
			
			<a title="Edit" class='btn bg-primary listing-actions' [routerLink]="'/industry/edit/' + industry.id" ><i class="fa fa-pencil-square-o"></i></a>
			
			<a title="Delete" class='btn bg-danger listing-actions' (click)="deleteIndustry(industry.id)" ><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
	</div>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>