<form id="vendor-signup" [formGroup]="Userform" (ngSubmit)="saveUser(Userform.value)">
  <div class="ui-g">
	<p-panel header="Vendor Sign Up" class="ui-g-12 ui-g-offset-0 ui-xl-2 ui-xl-offset-5 ui-md-6 ui-md-offset-3 loginPanel">
	  <p-messages id="SignupMessage" [(value)]="msgs" [closable]="false"></p-messages>
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
		  <input pInputText name="shop_name" id="shop_name" placeholder="Company Name"  [(ngModel)]="user.shop_name" formControlName="shop_name" />
		</div>
	  </div>
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
		  <input pInputText name="name" id="name" placeholder="Contact Name"  [(ngModel)]="user.name" formControlName="name" />
		</div>
	  </div>
	  
	<div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
			<p-dropdown placeholder="Industry"  [options]="industries" [(ngModel)]="user.industry_id" formControlName="industry_id" ></p-dropdown>
		</div>
	</div>
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
			<input pInputText placeholder="Username" name="username" id="username"  [(ngModel)]="user.username" formControlName="username" />
		</div>
	</div>
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
		  <input pInputText name="email" id="email" placeholder="Contact Email"  [(ngModel)]="user.email" formControlName="email" />
		</div>
	  </div>
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
		  <p-inputMask mask="(999) 999 – 9999" [(ngModel)]="user.phone" formControlName="phone" placeholder="Phone"></p-inputMask>
		</div>
	  </div> 
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
		  <p-inputMask mask="(999) 999 – 9999" [(ngModel)]="user.fax" formControlName="fax" placeholder="Fax"></p-inputMask><br />
		</div>
	  </div>	  
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
			<ng4geo-autocomplete [userSettings]="userSettings"  (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
		</div>
	</div>
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
		  <textarea rows="1" placeholder=" Address" pInputTextarea [(ngModel)]="user.address" formControlName="address"></textarea>
		</div>
	  </div>
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
			<input pInputText name="city" id="city" placeholder="City"  [(ngModel)]="user.city" formControlName="city" />
		</div>
	  </div>
	  <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
		  <input pInputText name="zip" id="zip" placeholder="Zip"  [(ngModel)]="user.zip" formControlName="zip" />
		</div>
	  </div>	  
	   <div class="ui-g ui-fluid">
		<div class="ui-inputgroup ui-g-12">
		  <input id="newPassword" class="form-control" name="password" [type]="showPassword ? 'text' : 'password'" pPassword [(ngModel)]="user.password" formControlName="password" placeholder="Password" /><a href="javascript:void(0);" (click)="toggle_password()"> <i style="position: relative; top: 7px; left: 50%; font-size: 16px;" title="Show/Hide Password" class="fa fa-eye"></i></a>
		</div>
	  </div>	  
	  <p-footer>
		<div class="text-right">
			<p-button type="submit" label="Sign Up" [disabled]="!Userform.valid"></p-button>
		</div>
	  </p-footer>
	</p-panel>
  </div>
</form>