<p-growl [(value)]="msgs" key="top-corner"></p-growl>
<div class="container page-template">
	<div class="page-title"><h1>ANNUAL PERFORMANCE APPRAISAL FORM</h1></div>
	
	<div class="row" id="step1" *ngIf="activeStep == 'step1'">
		<div class="col-md-12">
			<h2>General Guidelines</h2>
			<p>
				1. To provide feedback to each member of the staff<br/>
				2. To decide the performance of the individual over the appraisal period<br/>
				3. To assess the potential of the individual for higher responsibility<br/>
				4. To define the areas for improvement<br/>
				5. To formally set priorities and deliverables for the forthcoming period.<br/>
			</p>

			<h2>The process will involve the following steps:</h2>
			<p>
				I) The Direct Supervisor, i.e. the appraiser will enter his comments on the staff member in the enclosed form.<br/>
				II) The appraiser will discuss his assessment and comments with the concerned staff member in a formal performance review meeting. Both are required to sign the form at the end of this meeting. This is also the stage at which both will sign off the deliverables for the next review period.<br/>
				III) Following this, the Direct Supervisor will discuss the review with the reviewer i.e. Department Head / President, who will enter his / her comments.
			</p>

			<h2>The performance of the staff member is to be assessed on the following five-point scale</h2>
			<p>
				5 – Exceptional <br/>
				4 – Very good (exceeds job requirements significantly and consistently)<br/>
				3 – Average (meets requirements of the job)<br/>
				2 – Needs improvement<br/>
				1 – Unsatisfactory<br/>
			</p>
			<h2>The assessment has 8 sections :</h2>
			<p>
				I) Rating on performance of specific tasks<br/>
				II) Rating on the skills and attitudes essential for effective performance<br/>
				III) Rating on the skills and attitudes for the Team Leaders<br/>
				IV) Overall rating<br/>
				V) Training needs identification<br/>
				VI) Introspection for role understanding & development. <br/>
				VII) Appraisee feedback<br/>
				VIII) KRAs and priorities for the forthcoming period<br/>
			</p>
			<h2>Note</h2>
			Please submit on or before the date of submission.
			<br/><br/>
			<blockquote>
				“The key to successful Performance Management is ongoing discussion aimed at continuously improving performance and to get better results for the organization.“
			</blockquote>
			<p-button label="Next" (click)="nextStep('2')" style="float:right"></p-button>
			<br/><br/>
		</div>
	</div>
	
	<div class="row" id="step2"  *ngIf="activeStep == 'step2'">
		<div class="col-md-12">
			<div class="row">
			  <div class="col-md-4">
				<h5>Performance Review Period</h5>
			  </div>
			  <div class="col-md-8">
				<label>{{ appraisal?.from_date | date:'MMMM yyyy' }} - {{ appraisal?.to_date | date:'MMMM yyyy' }}</label>
			  </div>
			</div>
			<br />
			<div class="row">
			  <div class="col-md-4">
				<h5>Employee Name</h5>
			  </div>
			  
			  <div class="col-md-8">
				<label>{{ appraisal?.get_user_data.first_name }} {{ appraisal?.get_user_data.last_name }}</label>
			  </div>
			</div>
			<br />
			<div class="row">
			  <div class="col-md-4">
				<h5>Joining Date</h5>
			  </div>
			  
			  <div class="col-md-8">
				<label>{{ appraisal?.get_user_data.created_at | date:'dd MMMM yyyy'}}</label>
			  </div>
			</div>
			<br />
			<div class="row">
			  <div class="col-md-4">
				<h5>Department</h5>
			  </div>
			  <div class="col-md-8">
				<label *ngIf="appraisal.department == 1">HR</label>
				<label *ngIf="appraisal.department == 2">Marketing & Software Development</label>
				<label *ngIf="appraisal.department == 3">Finance</label>
			  </div>
			</div>
			<br />
			<div class="row">
			  <div class="col-md-4">
				<h5>Reviewer Name</h5>
			  </div>
			  <div class="col-md-8">
			  
			  <label>{{ appraisal?.get_reviewer_data.first_name }} {{ appraisal?.get_reviewer_data.last_name }}</label>
			  </div>
			</div>
			<br />
			<p-button label="Back" (click)="prevStep('1')"></p-button>
			<p-button label="Next" (click)="nextStep('3')" style="float:right"></p-button>
			<br/><br/>
		</div>
	</div>

	<div class="row" id="step3"  *ngIf="activeStep == 'step3'">
		<div class="col-md-12">
			<h2>PART I - KEY RESULT AREAS</h2>
		</div>
		<div class="col-md-12">
			<ng-container *ngFor="let q of appraisalKeyResponsibility;let i = index">
				<article>
					<div class="row">
					  <div class="col-md-3">
						<h5>Key Responsibility</h5>					
					  </div>
					  <div class="col-md-9">
						{{q.comment}}				
					  </div>
					</div>
					<div class="row">
					  <div class="col-md-3">
						<h5>Rating</h5>					
					  </div>
					  <div class="col-md-9">
						<p-rating [ngModel]="q.rating" stars="5" [cancel]="false" [ngModelOptions]="{standalone: true}" (onRate)="handleResponsibilityRate($event, i)"></p-rating>				
					  </div>
					</div>
				</article>
			</ng-container>
			<ng-container *ngFor="let q of appraisalPoints;let i = index">
				<div class="row" *ngIf="q.section == 'P1'">
				  <div class="col-md-12">
					<h5>{{q.point}}</h5>
					<textarea rows="5" cols="30" pInputTextarea [(ngModel)]="appraisalFeedback[i].feedback" [ngModelOptions]="{standalone: true}"></textarea>
				  </div>
				</div>
			</ng-container>
			<p-button label="Back" (click)="prevStep('2')"></p-button>
			<p-button type="submit" label="Next" (click)="nextStep('4','P1')" style="float:right"></p-button>
			<br/><br/>
		</div>
	</div>
	
	<div class="row" id="step4"  *ngIf="activeStep == 'step4'">
		<div class="col-md-12">
			<h2>PART II – SKILLS AND ATTITUDES</h2>
		</div>
		<div class="col-md-12">
			<ng-container *ngFor="let q of appraisalPoints;let i = index">
				<article *ngIf="q.section == 'P2'">
					<div class="row">
					  <div class="col-md-3">
						<h5>Attribute Name</h5>					
					  </div>
					  <div class="col-md-9">
						{{q.point}}				
					  </div>
					</div>
					<div class="row">
					  <div class="col-md-3">
						<h5>Attribute Description</h5>					
					  </div>
					  <div class="col-md-9">
						{{q.description}}
					  </div>
					</div>
					<div class="row">
					  <div class="col-md-3">
						<h5>Rating</h5>					
					  </div>
					  <div class="col-md-9">
						<p-rating [ngModel]="appraisalFeedback[i].rating" stars="5" [cancel]="false" [ngModelOptions]="{standalone: true}" (onRate)="handleRate($event, i)"></p-rating>				
					  </div>
					</div>
					<div class="row">
					  <div class="col-md-3">
						<h5>Remarks</h5>					
					  </div>
					  <div class="col-md-9">
						<textarea rows="5" cols="30" pInputTextarea [(ngModel)]="appraisalFeedback[i].feedback" [ngModelOptions]="{standalone: true}"></textarea>
					  </div>
					</div>
				</article>
			</ng-container>
			<p-button label="Back" (click)="prevStep('3')"></p-button>
			<p-button label="Next" type="submit" (click)="nextStep('5','P2')" style="float:right"></p-button>
			<br/><br/>
		</div>
	</div>
	
	<div class="row" id="step5"  *ngIf="activeStep == 'step5'">
		<div class="col-md-12">
			<h2>PART III – THIS ADDITIONAL SECTION IS FOR TEAM LEADERS</h2>
		</div>
		<div class="col-md-12">
			<ng-container *ngFor="let q of appraisalPoints;let i = index">
				<article *ngIf="q.section == 'P3'">
					<div class="row" *ngIf="q.id != 27">						
					  <div class="col-md-3">
						<h5>Factor</h5>					
					  </div>
					  <div class="col-md-9">
						{{q.point}}				
					  </div>
					</div>
					<div class="row" *ngIf="q.id == 27">						
					  <div class="col-md-12">
						<h5>{{q.point}}</h5>		
					  </div>
					</div>
					<div class="row">
					  <div class="col-md-3">
						<h5>Rating</h5>					
					  </div>
					  <div class="col-md-9">
						<p-rating [ngModel]="appraisalFeedback[i].rating" stars="5" [cancel]="false" [ngModelOptions]="{standalone: true}" (onRate)="handleRate($event, i)"></p-rating>				
					  </div>
					</div>
					<div class="row" *ngIf="q.id != 27">
					  <div class="col-md-3">
						<h5>Remarks</h5>					
					  </div>
					  <div class="col-md-9">
						<textarea rows="5" cols="30" pInputTextarea [(ngModel)]="appraisalFeedback[i].feedback" [ngModelOptions]="{standalone: true}"></textarea>
					  </div>
					</div>
				</article>
			</ng-container>
			<p-button label="Back" (click)="prevStep('4')"></p-button>
			<p-button label="Next" type="submit" (click)="nextStep('6','P3')" style="float:right"></p-button>
			<br/><br/>
		</div>
	</div>
	
	<div class="row" id="step6"  *ngIf="activeStep == 'step6'">
		<div class="col-md-12">
			<h2>PART IV – COMPOSITE RATING FOR THE PERIOD UNDER REVIEW ** </h2>
		</div>
		<div class="col-md-12">
			<ng-container *ngFor="let q of appraisalPoints;let i = index">
				<article *ngIf="q.section == 'P4'">						
					<div class="row">						
					  <div class="col-md-12">
						<h5>{{q.point}}</h5>		
					  </div>
					</div>
					<div class="row">
					  <div class="col-md-3">
						<h5>Rating</h5>					
					  </div>
					  <div class="col-md-9">
						<p-rating [ngModel]="appraisalFeedback[i].rating" stars="5" [cancel]="false" [ngModelOptions]="{standalone: true}" (onRate)="handleRate($event, i)"></p-rating>				
					  </div>
					</div>
					<div class="row">
					  <div class="col-md-3">
						<h5>Note:</h5>					
					  </div>
					  <div class="col-md-9">
						** This composite rating is to be made after assigning the appropriate weightage to the all dimensions of parameters (i.e. Part I, II and III ). As the person moves up the hierarchy, the significance of skills and attitudes will increase. 
					  </div>
					</div>
				</article>
			</ng-container>
			<p-button label="Back" (click)="prevStep('5')"></p-button>
			<p-button label="Next" type="submit" (click)="nextStep('7','P4')" style="float:right"></p-button>
			<br/><br/>
		</div>
	</div>
	
	<div class="row" id="step7"  *ngIf="activeStep == 'step7'">
		<div class="col-md-12">
			<h2>PART V – TRAINING NEEDS IDENTIFICATION</h2>
		</div>
		<div class="col-md-12">
			<ng-container *ngFor="let q of appraisalPoints;let i = index">
				<div class="row" *ngIf="q.section == 'P5'">
				  <div class="col-md-12">
					<h5>{{q.point}}</h5>
					<textarea rows="5" cols="30" pInputTextarea [(ngModel)]="appraisalFeedback[i].feedback" [ngModelOptions]="{standalone: true}"></textarea>
				  </div>
				</div>
			</ng-container>
			<p-button label="Back" (click)="prevStep('6')"></p-button>
			<p-button type="submit" label="Next" (click)="nextStep('8','P5')" style="float:right"></p-button>
			<br/><br/>
		</div>
	</div>
	
	<div class="row" id="step8"  *ngIf="activeStep == 'step8'">
		<div class="col-md-12">
			<h2>PART VI – INTROSPECTION FOR ROLE UNDERSTANDING & DEVELOPMENT</h2>
			Star Rating Note: <br/>
			1. Not at all<br/>
			2. To some extent<br/>
			3. Fully
		</div>
		<div class="col-md-12">
			<ng-container *ngFor="let q of appraisalPoints;let i = index">
				<article *ngIf="q.section == 'P6'">
					<div class="row">
					  <div class="col-md-12">
						{{q.point}}				
					  </div>
					</div>
					<div class="row" *ngIf="q.id==31||q.id==32">
					  <div class="col-md-3">
						<h5>Rating</h5>					
					  </div>
					  <div class="col-md-9">
						<p-rating  [ngModel]="appraisalFeedback[i].rating" stars="3" [cancel]="false" [ngModelOptions]="{standalone: true}" (onRate)="handleRate($event, i)"></p-rating>				
					  </div>
					</div>
					<div class="row">
					  <div class="col-md-3">
						<h5 *ngIf="q.id==31||q.id==32">Reasons(if marked 2 or 1)</h5>					
						<h5 *ngIf="q.id==33||q.id==34">Comment</h5>					
					  </div>
					  <div class="col-md-9">
						<textarea  rows="5" cols="30" pInputTextarea [(ngModel)]="appraisalFeedback[i].feedback" [ngModelOptions]="{standalone: true}"></textarea>
					  </div>
					</div>
				</article>
			</ng-container>
			<p-button label="Back" (click)="prevStep('7')"></p-button>
			<p-button label="Next" type="submit" (click)="nextStep('9','P6')" style="float:right"></p-button>
			<br/><br/>
		</div>
	</div>
	
	 <div class="row" id="step9"  *ngIf="activeStep == 'step9'">	
		<div class="col-md-12">
			<h2>PART VII – APPRAISEE FEEDBACK</h2>
		</div>	
		<div class="col-md-12">
			<ng-container *ngFor="let q of appraisalPoints;let i = index">
				<article *ngIf="q.section == 'P7'">
					<div class="row">
					  <div class="col-md-12">
						{{q.point}}				
					  </div>
					</div>
					<div class="row">					  
					  <div class="col-md-12">
						<div class="ui-g" style="width:250px;margin-bottom:10px">
							<div class="ui-g-12"><p-radioButton value="1" label="No" [(ngModel)]="appraisalFeedback[i].rating" inputId="opt1"></p-radioButton></div>
							<div class="ui-g-12"><p-radioButton value="2" label="Yes" [(ngModel)]="appraisalFeedback[i].rating" inputId="opt2"></p-radioButton></div>
						</div>						
					  </div>
					</div>
				</article>
			</ng-container>
			
			<article>
				<div class="row">
				  <div class="col-md-12">					
					<h5>STAFF MEMBER COMMENTS</h5>					
				  </div>
				</div>
				<div class="row">					  
				  <div class="col-md-12">
					<textarea  rows="5" cols="30" pInputTextarea [(ngModel)]="appraisal.staff_comments" [ngModelOptions]="{standalone: true}">
					</textarea>						
				  </div>
				</div>
			</article>			
			<article>
				<div class="row">
				  <div class="col-md-12">
					<h5>REVIEWER COMMENTS</h5>
				  </div>
				</div>
				<div class="row">					  
				  <div class="col-md-12">
					<textarea rows="5" cols="30" pInputTextarea [(ngModel)]="appraisal.reviewer_comments" [ngModelOptions]="{standalone: true}">
					</textarea>						
				  </div>
				</div>
			</article>
			
			
			<p-button label="Back" (click)="prevStep('8')"></p-button><!-- 
			<p-button *ngIf="appraisal.status == 'Pending'&&appraiseeFields" label="Send to Reviewer " type="submit" (click)="saveAppraisalForm()" style="float:right"></p-button>
			<p-button *ngIf="appraisal.status == 'Reviewing'&&reviewerFields" label="Send to HR " type="submit" (click)="saveAppraisalForm()" style="float:right"></p-button> -->
			<p-button *ngIf="saveButtonText!=''" label="{{saveButtonText}}" type="submit" (click)="saveAppraisalForm()" style="float:right"></p-button>
			<br/><br/>
		</div>
	</div>
</div>
<p-confirmDialog></p-confirmDialog>