<p-growl [(value)]="msgs" key="top-corner"></p-growl>
<div class="row">	
	
	<div class="col-lg-12"> 
		<a href="javascript:void(0);" (click)="goBack()"><i class="fa fa-arrow-left"></i> Go Back</a>
	</div>
	<div class="col-lg-12 d-flex justify-content-center" *ngIf="loadSpinner">
		<p-progressSpinner ></p-progressSpinner>		
	</div>
</div>
<div class="panel" *ngIf="!loadSpinner">
	<div class="records--body">
		<div class="title">
			<div class="col-lg-6"> 
				<!-- Page Title Start -->
				<h2 class="page--title h5"><i class="fa fa-file"></i> Create Contract</h2>
				<!-- Page Title End -->
			</div>
			<div class="col-lg-6"> 
				<!-- Page Title Start -->
				<h2 class="page--title h5 text-right"  *ngIf="id > 0">ID: {{ id }}</h2>
				<!-- Page Title End -->
			</div>
		</div>
		
			<div class="tab-pane fade show active" id="tab01">
				<form id="contractform" [formGroup]="contractform" (ngSubmit)="saveContract()" >
					<input type="hidden" name="industry_id" [(ngModel)]="contract.industry_id" formControlName="industry_id">
					<input type="hidden" name="email" [(ngModel)]="contract.email" formControlName="email">
					
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Contract Type: *</span>

						<div class="col-md-9">
						
							<p-dropdown [options]="contract_types" [(ngModel)]="contract.type" formControlName="type" ></p-dropdown>
						</div>
					</div>
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Contract Name: *</span>

						<div class="col-md-9">
							<input type="text" pInputText class="form-control" name="name" id="name"  [(ngModel)]="contract.name" formControlName="name" />
						</div>
					</div>
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Description: *</span>

						<div class="col-md-9">
							<textarea rows="3" cols="30" class="form-control" pInputTextarea [(ngModel)]="contract.description" formControlName="description"></textarea>
						</div>
					</div>
					
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Select Category: *</span>

						<div class="col-md-9">
							<p-dropdown [options]="categories" [(ngModel)]="contract.category_id" formControlName="category_id"></p-dropdown>
						</div>
					</div>
										
					<div class="form-group row">
						<span class="label-text col-md-3 col-form-label">Select Contact: </span>
						
						<div class="col-md-9">
							<p-autoComplete [(ngModel)]="selectedContact" formControlName="contact" [suggestions]="suggestions" [style]="{width: '100%'}" (completeMethod)="searchContact($event)" (onSelect)="onSelectContact($event)" placeholder="Type Company or Contact Name" [minLength]="1">
								<ng-template let-brand pTemplate="item">
									{{brand.label}}
								</ng-template>
							</p-autoComplete>
							
							<a [routerLink]="'/contact/create'" target="_blank"><i class="fa fa-user"></i> Add Contact</a>
						</div>
					</div>	
					
					<div class="form-group row">
						<span class="label-text col-md-12 col-form-label">Terms and Conditions constructor *</span>
					</div>
					<div class="form-group row">
						<div class="col-md-8 terms-constructor-box">		

						<p-fieldset *ngFor="let part of user_contract_parts; let i = index">
							<p-header>
								<div class="row">
									<div class="col-md-7">
										<strong>{{i + 1}}. </strong> {{part.title}} 
									</div>
									<div class="col-md-5 text-right">										
										<p-button label="Edit" icon="fa fa-pencil" (onClick)="showEditDialog(i)"></p-button>
										<p-button label="Delete" icon="fa fa-trash" (onClick)="deleteTerm(i)"></p-button>
									</div>
								</div>
							</p-header>
							{{part.body}} 							
						</p-fieldset>
						
						</div>
						<div class="col-md-4">
							<div class="col-md-12" *ngIf="userSets.length > 0">
								<p-listbox [(ngModel)]="listSet" [ngModelOptions]="{standalone: true}" [options]="userSets" filter="filter" (onChange)="onSelectSet($event.value)" optionLabel="label">
								  <p-header>
									<i class="fa fa-car"></i>
									Active Sets
								  </p-header>
								</p-listbox>
							</div>
							<div class="col-md-12" *ngIf="industryParts.length > 0">
								<p-listbox [(ngModel)]="listPart" [ngModelOptions]="{standalone: true}" [options]="industryParts" filter="filter" (onChange)="onSelectTerm($event.value)" optionLabel="label">
								  <p-header>
									<i class="fa fa-car"></i>
									Industry Parts
								  </p-header>
								</p-listbox>
							</div>
						</div>
					</div>					
					<div class="row mt-3">
						<div class="col-md-9 offset-md-3">
							<button type="submit" class="btn btn-rounded btn-success" [disabled]="!contractform.valid">Save</button>
							<button type="button" class="btn btn-rounded btn-success" (click)="goBack()">Cancel</button>
						</div>
					</div>
				</form>
			</div>
	
	</div>
</div>


<p-dialog header="{{selectedPart.title}}" [(visible)]="editFormVisible" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
	<form (submit)="saveContact()">
 	<div style="width:500px;">	
		<div class="form-group row">
			<span class="label-text col-md-3 col-form-label">Title: *</span>
			<div class="col-md-9">			
				<input type="text" pInputText class="form-control" name="title" [(ngModel)]="selectedPart.title" />
			</div>
		</div>
		<div class="form-group row">
			<span class="label-text col-md-3 col-form-label">Text: *</span>
			<div class="col-md-9">			
				<textarea name="body" class="form-control" [(ngModel)]="selectedPart.body"></textarea>
			</div>
		</div>
		<p-footer>
			<div class="form-group row">
				<div class="col-md-10 offset-md-2">
					<button type="button" pButton icon="pi pi-check" (click)="saveTermChanges();" label="Save Changes"></button>
					<button type="button" pButton icon="pi pi-close" (click)="editFormVisible=false" label="Close" class="ui-button-secondary"></button>
				</div>
			</div>
        </p-footer>
	</div>
	</form>
</p-dialog>


<p-dialog header="Set Contract PIN" [(visible)]="contractPinModel" [modal]="true" [closable]="false" [responsive]="true" [style]="{width: '400px', minWidth: '200px'}" [minY]="30" [baseZIndex]="10000">	
	<div class="form-group row">
		<div class="col-md-8">
			<input type="text" [(ngModel)]="contractPin" [ngModelOptions]="{standalone: true}"  class="form-control" name="contractPin">
			<label class="text-danger">{{contractPinError}}</label>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary" (click)="validatePIN()">Submit</button>
		</div>
	</div>
</p-dialog>

<p-confirmDialog closeOnEscape="true" closable>
</p-confirmDialog>