<p-growl [(value)]="msgs" key="top-corner"></p-growl>
<div class="container">
  <div class="row">	
	<div class="col-lg-6"> 
		<!-- Page Title Start -->
		<h2 class="page--title h5"><i class="fa fa-user"></i> Global Parts</h2>
		<!-- Page Title End -->
	</div>
	<div class="col-lg-6 text-right">
		<a [routerLink]="'/global-part/create'" class="btn btn-rounded btn-warning">Create Global Part</a>
	</div>    
	<div class="col-lg-12 d-flex justify-content-center" *ngIf="parts?.length < 1"> 
		<p-progressSpinner ></p-progressSpinner>		
	</div>
	<div class="table-responsive">	
    <p-table #partListing [columns]="cols" [value]="parts" [paginator]="true" [rows]="10" *ngIf="parts?.length > 0">
		<ng-template pTemplate="caption">
			<div style="text-align: right">        
				<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
				<input type="text" pInputText size="50" placeholder="Search" (input)="partListing.filterGlobal($event.target.value, 'contains')" style="width:auto">                
			</div>
		</ng-template>
		
		<ng-template pTemplate="header" let-columns>
			<tr>       
				<ng-container *ngFor="let col of columns">
					<th width="200" [pSortableColumn]="col.field" *ngIf="col.header != ''" >
						{{col.header}}
						<p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
					</th>
				</ng-container>
				<th width="200">Actions</th>
			</tr>
			<tr>
				<th *ngFor="let col of columns" [ngSwitch]="col.field">
				
					<input *ngSwitchCase="'title'" pInputText type="text" (input)="partListing.filter($event.target.value, col.field, col.filterMatchMode)">
					<input *ngSwitchCase="'internal_title'" pInputText type="text" (input)="partListing.filter($event.target.value, col.field, col.filterMatchMode)">
					<input *ngSwitchCase="'get_industry_data.name'" pInputText type="text" (input)="partListing.filter($event.target.value, col.field, col.filterMatchMode)">
					<!-- <input *ngSwitchCase="'special'" pInputText type="text" (input)="partListing.filter($event.target.value, col.field, col.filterMatchMode)"> -->
					
				</th>
			</tr>
        </ng-template>
		
		
      <ng-template pTemplate="body" let-part>
        <tr>
          <td>{{ part.title }}</td>
          <td>{{ part.internal_title }}</td>
          <td>{{ part.get_industry_data.name }}</td>
          <!-- <td>{{ part.special }}</td> -->
          <td>			
            <span *ngIf="part.status == 0">
              <p-button label="Enable" icon="fa fa-close" styleClass="ui-button-success" (onClick)="enablePart(part.id)"></p-button>
            </span> 
			<span *ngIf="part.status == 1">
              <p-button label="Disable" icon="fa fa-close" styleClass="ui-button-danger" (onClick)="disablePart(part.id)"></p-button>
            </span>  
            <p-button label="Edit" icon="fa fa-pencil-square-o" [routerLink]="'/global-part/edit/' + part.id"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
	</div>
  </div>
</div>